@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportsWear</title>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .manage-cart-badge {
            right: -12px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Sports Wear</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="flex-grow-1 mt-1 ml-md-4">
                            <form class="form-inline" asp-controller="Home" asp-action="Search" method="post">
                                <input class="form-control mr-sm-2" type="search" name="searchQuery" placeholder="Search" aria-label="Search" required>
                                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </li>

                        @{
                            var customerId = HttpContextAccessor.HttpContext.Session.GetString("customerId");
                            if (customerId != null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="MyOrders">My Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
                                </li>

                                <li class="nav-item" style="position:relative">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Cart">
                                        <i class="nav-icon fas fa-cart-plus"></i>
                                        <p id="cart-count" style=" position: absolute; top: 0px;" class="badge badge-pill badge-light  mr-sm-0">
                                            @{
                                                var cartItemCount = HttpContextAccessor.HttpContext.Session.GetString("totalCartItems");
                                                @cartItemCount
                                            }
                                        </p>
                                    </a>
                                </li>
                            }

                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
                                </li>

                            }



                        }


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container text-white">
            &copy; 2021 - SportsWear - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-white">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
